<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SERwis</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/images/icon.svg">
</head>
<body>
<header id="header">
    <a href="/" id="logoContainer">
        <img src="/images/icon.svg" alt="logo" id="logo">
    </a>
    <div id="navigation">
        <a href="/o-nas">About us</a>
        <a href="/oferta">Offer</a>
        <a href="/kontakt">Contact</a>
    </div>
    <div id="contactImg">
        <img src="/images/contacts.svg" alt="contacts" />
    </div>
</header>
</body>
</html>