<div class="main" id="home">
    <h1 id="title" class="title">Empowering Your Digital <br></h1>
    <h1 class="title">Transformation</h1>
    <p class="description">Unlock the potential of your business with cutting-edge IT solutions tailored to your needs. From strategy to execution, we provide the expertise and tools to drive growth, enhance efficiency, and secure your digital future. </p>
    <div id="btn-row">
        <a href="/oferta">
            <button id="getStarted">Get Started</button>
        </a>
        <a href="/o-nas">
            <button>More about us</button>
        </a>
    </div>
</div>
