<div id="offer">
    <h3>OUR SERVICES</h3>
    <h2>Explore our core services—IT consulting, cybersecurity, and cloud solutions—to drive your business forward securely and efficiently.</h2>
    <div id="services-row">
        <div class="service-container">
            <div>
                <img src="/images/consulting.png" alt="">
            </div>

            <h4>IT Consulting</h4>
            <p>We provide tailored IT strategies to align technology with your goals, setting you up for lasting success.</p>
        </div>
        <div class="service-container">
            <div>
                <img src="/images/security.png" alt="">
            </div>

            <h4>Cybersecurity</h4>
            <p>Our end-to-end cybersecurity services safeguard your data, ensuring a secure, resilient digital environment.</p>
        </div>
        <div class="service-container">
            <div>
                <img src="/images/cloud.png" alt="">
            </div>

            <h4>Cloud Solutions</h4>
            <p>Optimize your operations with scalable cloud services, from seamless migration to ongoing management and support.</p>
        </div>
    </div>
</div>

