<div class="main" id="about-us">
    <div id="about-us-info">
        <h4 id="who-are-we-title">WHO ARE WE</h4>
        <h1 id="wwd">Helping businesses in innovation, grow and staying secure.</h1>
        <p id="description">We are a dedicated IT services provider specializing in custom solutions that empower businesses to innovate, grow, and stay secure. Our expertise spans from digital transformation and cloud solutions to cybersecurity and managed IT services, helping companies thrive in today’s digital landscape.</p>
        <div class="why-we">
            <div class="why-we-img">
                <img src="/images/book.png" alt="book" class="why-we-image">
            </div>
            <div class="why-we-content">
                <h3>Proven Expertise</h3>
                <p>Decades of experience delivering successful IT solutions across industries.</p>
            </div>
        </div>
        <div class="why-we">
            <div class="why-we-img">
                <img src="/images/chip.png" alt="chip" class="why-we-image">
            </div>
            <div class="why-we-content">
                <h3>Future-Ready</h3>
                <p>We leverage the latest tech to keep your business ahead of the curve.</p>
            </div>
        </div>
    </div>
    <div id="photos-gallery">
        <img src="/images/cabels.jpg" alt="duck" id="img1"/>
        <img src="/images/code.jpg" alt="duck" id="img2"/>
        <img src="/images/server.jpg" alt="duck" id="img3"/>
    </div>
</div>


